.uploadMain {
  height: 400px;
  width: 400px;
  /* border: 1px solid rgb(80, 72, 72); */
  border-radius: 12px;
}

.uploadBody > p {
  position: absolute;
  background-color: rgb(172 188 202);
  color: black;
  padding: 5px;
  border: 1px solid #928c8c;
  font-family: sans-serif;
  border-radius: 6px;
  cursor: pointer;
  padding-left: 13px;
  top: 20px;
  left: 30px;
  width: 92px;
}

.imageStyle {
  top: 0;
}

.imageStyle > img {
  position: absolute;
  top: 100px;
  left: 30px;
  height: 200px;
  width: 200px;
  margin-bottom: 400px;
}
